<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_4.2.xsd">

	<menuitem name="menu-sales"  title="Sale managment" icon="fa-folder" />

	
	<menuitem name="menu-sales-config" parent="menu-sales" title="Configuration" order="10"/>
	
	<menuitem name="menu-order" parent="menu-sales"
    title="Sale Order"
    action="sale.order"/>

  <action-view name="sale.order" model="com.axelor.sale.db.Order" title="Order">
    <view type="grid" name="order-grid"/>
    <view type="form" name="order-form" />
	</action-view>

	<menuitem name="menu-sales-product-category" parent="menu-sales-config"
    title="Product Categories"
    action="sale.product.categories"/>

  <action-view name="sale.product.categories" model="com.axelor.sale.db.ProductCategory" title="Product Categories">
    <view type="grid" name="product-category-grid"/>
    <view type="form" name="product-category-form" />
	</action-view>
	
	<menuitem name="menu-sales-taxes" parent="menu-sales-config"
    title="All Taxes"
    action="sale.taxes"/>

  <action-view name="sale.taxes" model="com.axelor.sale.db.Tax" title="Taxes">
    <view type="grid" name="tax-grid" />
    
    <view type="form" name="tax-form"/>
  </action-view>
  
  
  
  
   <menuitem name="menu-sales-product" parent="menu-sales"
    title="Products"
    action="sale.products"/>

  <action-view name="sale.products" model="com.axelor.sale.db.Product" title="Products">
    <view type="grid" name="product-grid"/>
    <view type="form" name="product-form"/>
  </action-view>
  
   
   <menuitem name="sale-invoice" parent="menu-sales"
    title="invoice"
    action="sale-invoice"/>

<action-view name="sale-invoice" model="com.axelor.sale.db.Invoice" title="invoice">
   <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form"/>
  </action-view>
  
  
    <action-view name="open.invoice" model="com.axelor.sale.db.Invoice" title="Invoice">
    <view type="form" name="invoice-form"/>
    <context name="_showRecord" expr="eval: __self__.invoice.id"/>
    
  </action-view>

</object-views>
